<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="home-header text-center">
			ARE YOU HUNGRY YET?
			</h1>
			<p class="home-sub-header text-center">
				ORDER YOUR MEALS AHEAD OF TIME!
			</p>
		</div>
		<div class="col-md-4 col-md-offset-4 search-container">
			<div class="location-title">
				<h3 class="text-center">
				SAN JOSE, CALIFORNIA
				</h3>
			</div>
			<div class="form-group location-search has-success has-feedback">
				<input type="text" class="form-control" id="searchInputCtrl" aria-describedby="inputSuccess2Status" placeholder="ENTER ZIPCODE">
				<span class="search-input-img form-control-feedback" aria-hidden="true">
					
				</span>
				<label class="control-label" for="inputSuccess2">ADVANCED SEARCH</label>
			</div>
		</div>
	</div>
	<div class="row map-data-row reset-row">
		<div class="col-md-8 reset-col">
			<div class="location-table">
				<!-- Test record - one  -->
				<div class="location-record-row">
					<div class="row reset-row row-one">
						<div class="col-xs-1 reset-col record-marker"><img width="25" src="images/BG_2.35-53.png" /></div>
						<div class="col-xs-11 reset-col record-header">TASTY SUBS & PIZZA</div>
					</div>
					<div class="row reset-row row-two">
						<div class="col-xs-2 reset-col menu-title">
							<div class="v-center">
								MENU
							</div>
						</div>
						<div class="col-xs-3 reset-col address">528 Lawrence Expwy Sunnyvale, CA 94085</div>
						<div class="col-xs-2 reset-col record-time"><div class="v-center">0.2MI</div></div>
						<div class="col-xs-3 reset-col dir">DIRECTIONS</div>
						<div class="col-xs-2 reset-col status">OPEN</div>
					</div>
				</div>
				<!-- Test record - two  -->
				<div class="location-record-row">
					<div class="row reset-row row-one">
						<div class="col-xs-1 reset-col record-marker"><img width="25" src="images/BG_2.35-53.png" /></div>
						<div class="col-xs-11 reset-col record-header">FALAFEL BITE</div>
					</div>
					<div class="row reset-row row-two">
						<div class="col-xs-2 reset-col menu-title">
							<div class="v-center">
								MENU
							</div>
						</div>
						<div class="col-xs-3 reset-col address">500 Lawrance Expwy Suite C Sunnyvale, CA 94085</div>
						<div class="col-xs-2 reset-col record-time"><div class="v-center">0.3MI</div></div>
						<div class="col-xs-3 reset-col dir">DIRECTIONS</div>
						<div class="col-xs-2 reset-col status">OPEN</div>
					</div>
				</div>
				<!-- Test record - three  -->
				<div class="location-record-row">
					<div class="row reset-row row-one">
						<div class="col-xs-1 reset-col record-marker"><img width="25" src="images/BG_2.35-53.png" /></div>
						<div class="col-xs-11 reset-col record-header">PAD THAI</div>
					</div>
					<div class="row reset-row row-two">
						<div class="col-xs-2 reset-col menu-title">
							<div class="v-center">
								MENU
							</div>
						</div>
						<div class="col-xs-3 reset-col address">500 Lawrance Expwy Suite B Sunnyvale, CA 94085</div>
						<div class="col-xs-2 reset-col record-time"><div class="v-center">0.3MI</div></div>
						<div class="col-xs-3 reset-col dir">DIRECTIONS</div>
						<div class="col-xs-2 reset-col status">CLOSED</div>
					</div>
				</div>
				<!-- Test record - four  -->
				<div class="location-record-row">
					<div class="row reset-row row-one">
						<div class="col-xs-1 reset-col record-marker"><img width="25" src="images/BG_2.35-53.png" /></div>
						<div class="col-xs-11 reset-col record-header">WORLD WRAPS</div>
					</div>
					<div class="row reset-row row-two">
						<div class="col-xs-2 reset-col menu-title"><div class="v-center">
							MENU
						</div></div>
						<div class="col-xs-3 reset-col address">3125 Mission College Blvd Santa Clara, 95054</div>
						<div class="col-xs-2 reset-col record-time"><div class="v-center">0.3MI</div></div>
						<div class="col-xs-3 reset-col dir">DIRECTIONS</div>
						<div class="col-xs-2 reset-col status">OPEN</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-4 reset-col">
			<div id="mapContainer">
				MAP AREA
			</div>
		</div>
	</div>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNcIZ2bS9v-VR5NF_rgpJPvO2ckdIoS7k&callback=initMap"></script>
<script src="js/map-access.js"></script>