<div class="footer-top-area">
    <div class="header-area top-fixed-header">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-1">
                    <div class="user-menu top-q-link">
                        <h1 class="top-q-link-inner">ARE YOU A RESTAURANT OWNER OR FRANCHISEE?</h1>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="header-right top-q-link">
                        <button type="button" class="btn btn-primary btn-lg active top-q-link-inner">JOIN BITEGATE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="footer-social-menu">
                    <div class="">
                        <a href="#" target="_blank"><img width="25" height="25" src="images/BG_2.35-46.png" alt="" /></a>
                        <a href="#" target="_blank"><img width="25" height="25" src="images/BG_2.35-47.png" alt="" /></a>
                        <a href="#" target="_blank"><img width="25" height="25" src="images/BG_2.35-48.png" alt="" /></a>
                        <a href="#" target="_blank"><img width="25" height="25" src="images/BG_2.35-49.png" alt="" /></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="footer-menu">
                    <div class="row">
                        <div class="col-md-4 footer-menu-link"><a href="#">HOME</a></div>
                        <div class="col-md-4 footer-menu-link"><a href="#">SIGN UP</a></div>
                        <div class="col-md-4 footer-menu-link"><a href="#">SIGN IN</a></div>
                    </div>
                    <div class="row reset-row">
                        <div class="col-md-3 reset-col footer-submenu-link"><a href="#">HELP CENTER</a></div>
                        <div class="col-md-2 reset-col footer-submenu-link"><a href="#">CAREERS</a></div>
                        <div class="col-md-2 reset-col footer-submenu-link"><a href="#">DEVELOPERS</a></div>
                        <div class="col-md-2 reset-col footer-submenu-link"><a href="#">NEWS</a></div>
                        <div class="col-md-2 reset-col footer-submenu-link"><a href="#">ABOUT</a></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="footer-menu">
                    
                </div>
            </div>
        </div>
    </div>
</div>
