<div class="header-area top-fixed-header">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-8 col-md-offset-1">
                <div class="user-menu top-q-link">
                    <h1 class="top-q-link-inner">DONT SEE YOUR FAVORITE RESTAURANT, DINNER, OR TAQUERIA?</h1>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="header-right top-q-link">
                    <button type="button" class="btn btn-primary btn-lg active top-q-link-inner">ADD RESTAURANT</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mainmenu-area">
    <div class="container">
        <div class="row">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-toggle-menu-title">
                    <div class="row reset-row">
                        <div class="col-md-1 reset-col">MENU</div>
                        <div class="col-md-3 pull-right reset-col right">
                            <a href="#" class="transp-menu-link">LOG IN</a>
                            <a href="#" class="transp-menu-link">SIGN UP</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html">Home</a></li>
                    <li><a href="shop.html">About</a></li>
                    <li><a href="#">Locate Restaurant</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End mainmenu area -->
