#appFooter {
    left: 0px;
    bottom: 0px;
    min-height: 180px;
    width: 100%;
}

.footer-top-area {
    background-color: #FFFEFF;
    padding: 0;
}

.footer-menu {
    margin-top: 2rem;

    .footer-menu-link {
        padding: 0;
        height: 40px;
        text-align: center;

        &:last-child a {
            border-right: 0;
        }

        a {
            font-size: 2.4rem;

            @media (max-width: $screen-xs-max) {
                font-size: 1.5rem;
            }

            color: #120f16;
            border-right: solid 2px #120f16;
            padding: 0;
        }
    }

    @include reset-row-column;

    .footer-submenu-link {
        @media (min-width: $screen-sm-min) {
            width: 18%;
        }

        text-align: center;

        &:first-child {
            @media (min-width: $screen-sm-min) {
                margin-left: 7%;
            }
        }
    }
}

.footer-social-menu {
    margin-top: 3rem;
    text-align: center;
}

.footer-right-menu {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
