//@for top sticky header

.top-fixed-header {
    background-color: #120f16;

    .top-q-link {
        min-height: 60px;

        @media (max-width: $screen-xs-max) {
            padding-top: 10px;
            text-align: center;
        }

        .top-q-link-inner {
            @include reset;

            color: $brand-textColor-white;
            font-family: "TeXGyreReg";
            font-size: 2.4rem;
            width: 100%;

            @media (min-width: $screen-sm-min) {
                @include vertical-center;
            }

            @media (max-width: $screen-xs-max) {
                text-align: center;
            }

            @media (max-width: $screen-xs) {
                font-size: 1.5rem;
            }


        }

        button.top-q-link-inner {
            font-size: 1.5rem;
            height: 30px;
            width: 80%;
            border-radius: 0;
            border: 0;
            background: rgba(222, 75, 42, 1);
            background: -moz-linear-gradient(left, rgba(222, 75, 42, 1) 0%, rgba(243, 124, 55, 1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(222, 75, 42, 1)), color-stop(100%, rgba(243, 124, 55, 1)));
            background: -webkit-linear-gradient(left, rgba(222, 75, 42, 1) 0%, rgba(243, 124, 55, 1) 100%);
            background: -o-linear-gradient(left, rgba(222, 75, 42, 1) 0%, rgba(243, 124, 55, 1) 100%);
            background: -ms-linear-gradient(left, rgba(222, 75, 42, 1) 0%, rgba(243, 124, 55, 1) 100%);
            background: linear-gradient(to right, rgba(222, 75, 42, 1) 0%, rgba(243, 124, 55, 1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#de4b2a', endColorstr='#f37c37', GradientType=1 );
        }
    }
}

.navbar-toggle-menu-title {
    float: left;
    color: #fff;
    padding-top: 1rem;
    padding-left: 10px;
    font-size: 2.1rem;
}

.mainmenu-area {
    background: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.transp-menu-link {
    padding-top: 1.5rem;

    a {
        font-family: $brand-fontFamily-texGyre-reg;
        color: #fff;
        margin-left: 20px;
        padding: 2px 5px;

        &:hover, &:active {
            text-decoration: none;
        }

        &:last-child {
            border: 1px solid #fff;
        }
    }
}