body {
	background: #000000 url("../images/BG_2.35-58.png") no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#zipcodeInputCtrl {
	border: 0;
}

.search-submit-img {
	position: absolute;
	top:2px;
	right: 2px;
}
