#mapContainer {
    width: 100%;
    min-height: 382px;
    margin-bottom : 10px;
}

.search-input-img {
    display: inline-block;
    width: 37px;
    height: 37px;
    background: rgba(0, 0, 0, 0) url("../images/search_icon.png") no-repeat scroll 0 0 / 100% auto;
}

#searchInputCtrl {
    min-height: 40px;
    width: 185px;
    border-radius: 0;
    font-size: 1.7rem;
}

.location-search.form-group {
    width: 185px;
    margin: 0 auto;

    #searchInputCtrl {
        border: 0;
        color: #939290;
    }

    .form-control-feedback {
        top: 3px;
        right: 1px;
    }
    label {
    	font-size: 1.7rem;
    	color: #fff;
    	font-family: $brand-fontFamily-texGyre-reg;
    	width: 185px;
    	text-align: center;
    	display: inline-block;
    	font-weight: normal;
    	text-shadow: 0px 0px 12px #000;
        margin-top: 5px;
    }
}

.home-header {
	font-size: 60px;
	text-shadow: 3px 3px 3px rgba(0,0,0,0.75);

    @media (max-width: $screen-xs) {
        font-size: 3.5rem;
    }
}

.home-sub-header {
	font-size: 25px;
	text-shadow: 2px 2px 2px rgba(0,0,0,0.75);
	@media (max-width: $screen-xs) {
        font-size: 1.9rem;
    }		

}

h3.location-title {
	text-shadow: 0px 0px 12px #000;
}

.search-container {
	margin-top: 70px;
}

.location-table {
    background: url("../images/BG_2.35-62.png") no-repeat;
    background-position: 0 100%;
    min-height: 383px;
    width: 100%;
}

/* .location-table-wrapper {
    height: 500px;
    background: url("../images/BG_2.35-62.png") no-repeat;
    background-position: 0 100%;
} */



.row-one {
    background-color: rgba(13,14,18,0.3);
}


